.amlignore
.amlignore.amltmp
.ipynb_aml_checkpoints
*/.ipynb_aml_checkpoints
.ipynb_aml_checkpoints
.ipynb_aml_checkpoints/*
*/.ipynb_aml_checkpoints
.ipynb_aml_checkpoints/*
*.amltmp
.ipynb_checkpoints/
